* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    color: white;
}

header .name {
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 5px 0px;
}

header .navbar {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

header .navbar ul {
    list-style-type: none;
    display: flex;
}

header .navbar ul li a {
    text-decoration: none;
    color: white;
    padding: 5px 20px;
}

.social-media {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 40%;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.social-media a {
    color: black;
    font-size: 30px;
}

.fab {
    padding: 10px;
}

.fa-linkedin-in {
    color: blue;
    transition: .3s ease-in-out;
}

.fa-instagram {
    color: red;
    transition: .3s ease-in-out;
}

.fa-github {
    transition: .3s ease-in-out;
}

.fa-linkedin-in:hover {
    background-color: blue;
    color: white;
    transform: scale(1.2);
}

.fa-instagram:hover {
    background-color: red;
    color: white;
    transform: scale(1.2);
}

.fa-github:hover {
    background-color: black;
    color: white;
    transform: scale(1.2);
}

.cont {
    margin: 0 10%;
}

.ab {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    position: relative;
}

.ab .img1 {
    height: 50%;
    width: 50%;
    position: absolute;
    right: 0;
    top: 10%;
    align-self: center;
}

.ab .abt {
    position: absolute;
    text-align: left;
    left: 0;
    width: 50%;
    /* height: 50%; */
    top: 30%;
    align-self: center;
    font-weight: bold;
    font-size: 15px;
}

.ab .abt h1 {
    margin: 18px 0px;
    font-size: 40px;
}

.projects {
    width: 100%;
    height: 100vh;
}

.skills {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
}

.skills .ski,
.lang ,.tools {
    font-size: 30px;
    width: auto;
    margin: 10px 0px;
}

.skills .skibg {
    position: absolute;
    text-align: left;
    right: 0;
    width: 30%;
    height: 50%;
    align-self: center;
    font-weight: bold;
    font-size: 18px;
    line-height: 35px;
}

.skills .img2 {
    height: 50%;
    width: 50%;
    position: absolute;
    left: 0;
    align-self: center
}

#foot {
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.1);
    font-size: 22px;
    font-family: 'Poppins', sans-serif;
}

@media (max-width:768px) {
    header ul {
        flex-direction: column;
        font-size: 15px;
    }
    header .name {
        font-size: 20px;
    }
    .ab {
        /* border: 3px solid blue; */
        flex-direction: column;
        align-items: center;
        margin-top: 80px;
    }
    .ab .img1 {
        top: 15%;
        right: 30%;
    }
    .ab .abt {
    				margin-top: 35px;
        font-size: small;
        text-align: center;
        width: 100%;
    }
    .skills {
        flex-direction: column;
        margin-top: 20px;
    }
    .skills .img2 {
        top: 15%;
        left: 20%;
    }
    .skills .skibg {
        width: 100%;
        text-align: center;
        margin-top: 50px;
    }
    #foot {
        font-size: 18px;
        flex-direction: column;
        color: rgb(28, 138, 75);
    }
}
