*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: space-around;
}

header .name{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.nav{
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    width: 100%;
}

.nav ul{
    display: flex;
    list-style-type: none;
    justify-content: center;
}

li a{
    text-decoration: none;
}